<br>
<div class="breadcrumb-holder container-fluid">
    <ul class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Business List</li>
    </ul>
</div>
<section>
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Created</th>
                            <th>Subscription</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let business of businesses" [routerLink]="['/business/detail', business.id]">
                            <th scope="row">{{business.id}}</th>
                            <td>{{business.name}}</td>
                            <td>{{business.description}}</td>
                            <td>{{business.timestamp | date:'MM/dd/yyyy H:mm:ss'}}</td>
                            <td>{{business.subscription.subscription_type.name}}</td>
                            <td>{{business.subscription.status.name}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>