
<div class="row" *ngIf="business">
    <div class="col-md-12">
        <h2>{{business.name}} <a [routerLink]="[ '/business/edit', business.id ]"><i class="fa fa-pencil-square" aria-hidden="true"></i></a></h2>
        <small>{{business.description}}</small>
        <small>{{business.production_endpoint}}</small>
        <hr>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-6">
                <h3>Locations</h3>
            </div>
            <div class="col-md-6">
                <button class="btn btn-block btn-link" [routerLink]="[ '/business/location', business.id ]">Add New Location</button>
            </div>
        </div>
        <table class="table table-hover">
            <thead>
                <tr class="table-danger">
                    <th>Name</th>
                    <th>Created</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let loc of locations">
                    <td>{{loc.location_name}}</td>
                    <td>{{loc.timestamp | date}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-6">
        <h3>User Reports</h3>
        <table class="table table-hover">
            <thead>
                <tr class="table-info">
                    <th>UserReports-ID</th>
                    <th>USER-ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Profile</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of user_reports">
                    <td>{{user.id}}</td>
                    <td>{{user.user.id}}</td>
                    <td>{{user.user.first_name}} {{user.user.last_name}}</td>
                    <td>{{user.user.email}}</td>
                    <td>{{user.profile.name}}</td>
                </tr>
            </tbody>
        </table>
        <hr>
        <h3>Camaleon Admins</h3>
        <table class="table table-hover">
            <thead>
                <tr class="table-info">
                    <th>CamaleonAdmin-ID</th>
                    <th>USER-ID</th>
                    <th>Name</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of camaleonadmin">
                    <td>{{user.id}}</td>
                    <td>{{user.user.id}}</td>
                    <td>{{user.user.first_name}} {{user.user.last_name}}</td>
                    <td>{{user.user.email}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<hr>
<div class="row" *ngIf="business">
    <div class="col-md-12">
        <h2>Delete Business</h2>
        <small>Warning you may lose valuable information with this action.</small>
        <button class="btn btn-block btn-danger" (click)="delete()">Delete {{business.name}}</button>
    </div>
</div>