<!-- Side Navbar -->
<nav class="side-navbar">
    <!-- Sidebar Navidation Menus-->
    <ul class="list-unstyled">
        <li>
            <a href="/">
                <i class="icon-home"></i>Home </a>
        </li>
        <li>
            <a href="/business">
                <i class="fa fa-building"></i>Businesses </a>
        </li>
        <li>
            <a href="/permission">
                <i class="fa fa-universal-access"></i>Permissions </a>
        </li>
        <li>
            <a href="/monitor">
                <i class="fa fa-bug"></i>Monitor Settings </a>
        </li>
        <li>
            <a href="forms.html">
                <i class="fa fa-cogs"></i>Settings </a>
        </li>
    </ul>
</nav>