<nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
    <ul class="nav nav-pills flex-column">
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/']">Overview</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/business']">Business</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/permission']">Permissions</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/users']">Users</a>
        </li>
    </ul>
</nav>